<style>
      .buybookbutton:hover {
        background-color: #4CAF50; /* Green */
        color: white;
        cursor:pointer;
      }
      .buybookbutton {
        background-color: #155DE9;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-image:url('https://youdontknowshow.github.io/buttonwave.png');
	background-repeat: no-repeat;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        font-family: 'Arial';
      }
</style>
